.newFolder {
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 100px;
    width: 25vw;
}

.folderCreation_button {
    background-color: #cacaca;
    border-radius: 30px;
    border: 0;
    color: black;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 60px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    width: 60px;
}

.folderCreation_button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}